*{
    box-sizing: border-box;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
}

body{
    margin: 0 1em 0 1em;
    position: relative;
    background-image: url(box.jpg);
    /*background-color: rgba(22, 22, 22, 0.637);*/
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:lightgrey;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

#logo{
    position: absolute;
    padding: 0 30px 30px 30px;
    width: 30%;
    background-color: rgba(22, 22, 22, 0.637);
}

#namePage{
    font-size: 60px;
    text-align: center;
}

img{
    height: 300px;
    width: 320px;
    padding-top: 20px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#search-section{
    position: absolute;
    width: 60%;
    left: 30%;
    padding-top: 4%;
    background-color: rgba(22, 22, 22, 0.637);
}

#search-section > form{
    height: 100px;
    width: 35%;
}

#search-section > form > input{
    height: 40%;
    width: 70%;
    border-style: ridge;
    border-radius: 7px;
    border-width: 7px;
    background-color: transparent;
}

#search-section > form > input::placeholder{
    font-size: 18px;
    color: black;
}

#account{
    list-style:none;
    margin-top: -13%;
    margin-left: 50%;
}

.option-account{
    display: inline-block;
    margin-left: -4px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.option-account:last-child{
    border-right: 5px solid black;
    border-radius: 0 5px 5px 0;
}

.option-account:first-child{
    border-left: 5px solid black;
    border-radius: 5px 0 0 5px;
}

#sports{
    list-style: none;
    padding-top: 5%;
    padding-left: 30%;
}

.option-sport{
    display: inline-block;
    margin-left: -4px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.option-sport:last-child{
    border-right: 5px solid black;
    border-radius: 0 5px 5px 0;
}

.option-sport:first-child{
    border-left: 5px solid black;
    border-radius: 5px 0 0 5px;
}

#about{
    position: absolute;
    margin-top: 15%;
    width: 65%;
    right: 5%;
    background-color: rgba(22, 22, 22, 0.637);
}

#about > h1{
    text-align: right;
    padding-bottom: 1%;
}

#about > p{
    text-align: justify;
    color: white;
}

#about + h1{
    position: absolute;
    margin: 30% 5% 0 5%;
}

#about ~ p{
    position: absolute;
    margin: 35% 5% 0 5%;
    text-align: justify;
    color: white;
}

@media (max-width:500px){
    body{
        background-image: none;
        background-color: rgba(22, 22, 22, 0.637);;
    }
    #logo{
        background-color: transparent;
    }
    #namePage{
        font-size: 20px;
    }
    h1{
        font-size: 20px;
    }
    img{
        height: 20vh;
        width: 30vw;
        padding-top: 20px;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
    }
    #search-section{
        background-color: transparent;
    }
    #about{
        background-color: transparent;
    }
}